html{
    background: linear-gradient(to right, rgb(100,237,237), white);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px auto;
    background:url("../images/shsu-logo.png");
    background-repeat: repeat-y;
    background-position: right;
    background-attachment: fixed;
    border:2px solid black;
    border-radius: 25px ;
    background-color;:transparent white
    padding:15px 1.5em;
    width: 95%;
    
    box-shadow:5px 5px 0 0;
}
#nav_exam ul{
    list-style-type: none;
}
#nav_exam ul li{
    float:left;
    border-bottom: 3px solid blue;}
#nav_exam ul li a{
    text-align: center;
    display:block;
    width:175px;
    padding: 1em 0;
    text-decoration:none;
    background-color:blue;
    color:white;
    border-right:2px solid white;
    
}
#nav_exam ul li a.current{color:yellow}
article {
    width: 75%;
    margin: 20px auto;
    background-color: #ffffffcc;
    padding: 20px;

    z-index: 1;
    position: relative;
    float: left;
    width: 70%;
    margin: 20px auto;
    background-color: #ffffffcc;
    padding: 20px;
    column-count: 3;
    column-rule: 4px dotted blue;
    column-gap: 2em;
}

img {
    float: left;
    width: 150px;
    margin: 10px 15px 10px 0;
    border: 1px solid black;
}
aside {
    width: 20%;
    position: fixed;
    top: 160px;
    right: 10px;
    background-color: lightblue;
    border: 2px solid black;
    padding: 10px;
}
aside ul {
    list-style-type: square;
    padding-left: 20px;
}
aside ol {
     list-style-type: upper-roman;
}
aside ol ul ol{
    list-style-type: lower-alpha;
}
aside a {
    text-decoration: none;
    color: darkblue;
}
aside a:hover {
    text-decoration: underline;
}
footer{
    width: 95%;
    text-align: center;
    border-top: 2px solid blue;
    padding: 10px;
}
h1 {
    color:blue;
}
h2{
    color:blue;
}
p {
    line-height: 1.6;
}
article p::first-letter {
    font-weight: bold;
    font-size: 2em;
}
footer {
    clear: both;
    width: 95%;
    text-align: center;
    border-top: 2px solid blue;
    padding: 10px;
}
footer p.copyright{
    text-align: center;
    font-size: 80%;
}