html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image:linear-gradient(to right,rgb(100,237,237),white)
}
.page-title{
    display:block;
    border-bottom:4px solid blue;
    padding-bottom:5px;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    line-height:1.6;
    font-size:110%;
    width:95%;
    float: right;
    margin:15px auto;
    padding:20px;
    border: 1px solid black;
    border-radius:25px;
    box-shadow: 5px 5px 0 0;
    background-image:url("images/shsu-logo.png") ;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:transparent,rgb(255,255,255);
}
#nav_exam ul{list-style-type:none;}
#nav_exam ul li{float:left;}
#nav_exam ul li a{
    text-align: center;
    display:block;
    width:175px;
    padding: 1em 0;
    text-decoration:none;
    background-color:blue;
    color:white;
    border-right:2px solid white;
}
#nav_exam ul li a.current{color:yellow}

content.wrapper{
    display:grid;
    grid-template-columns: 1fr 250px ;
}
.p{
    margin-bottom: 10px;
    text-align:justify;
}
p::first-letter{
    font-size: 1em;
    font-weight:bold;
    font-style:italic;
    float:left;
    margin-right:1px;
}
.float-left{
    float:left;
    margin:0 0 15px 15px;
    max-width: 150px;
    border:1px;
    padding:5px;
}
h1{
    color:blue
}
h2{
    color: blue;
}
.special{
    color:blue
}
aside{
    width:15%;
    float:fixed;
    background-color:white
    padding 10px;
    margin-bottom:8em;
}
article{
    column-count:4;
    column-gap:2em;
    column-rule:2px dotted blue; 
    margin-left:2em;
    margin-bottom:2em;
}
aside ol{
    list-style-type: upper-roman;
}
aside ol ul{
    list-style-type: disc;
}
aside ol ul ol{
    list-style-type: lower-alpha;
}
footer{
    margin-top:30px;
    padding-top:15px;
    border-top:2px solid black;
    text-align:center;
}
footer p.copyright{ 
    text-align: center;
    font-size: 80%;

}