body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
    width:1000px;
    background-color:auto;
    margin:auto;
    padding:auto;
    border:auto;
    border-radius:
    box-shadow::after;
    background:auto;
    background-attachment:backdrop;
}
a:hover, a:focus {
    font-style: italic;
    color:azure; 
}
header h1{
    font-size: 175%;
    color:aqua;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color:red;
    text-indent: 30px;
}
header img {
    float:left;
    
}
.shadow{
    text-shadow: 2px 2px 2px rgb(128,0,0)
    
}

main{
    clear:left;
}
header h3{
    Margin-top: 3em;
    font-size: 105%;
}
#list{
    line-height:1.5em;
}
footer p{
    text-align: Center;
    font-size: 80%;
}