body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
    width:1000px;
    background-color:auto;
    margin:auto;
    padding:auto;
    border:auto;
    border-radius:
    box-shadow:after;
    background:auto;
    background-attachment:backdrop;
}
a:hover, a:focus {
    font-style: italic;
    color:azure; 
}
header{
    margin-bottom:3em;
}
header h1{
    font-size: 175%;
    color:aqua;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color:red;
    text-indent: 30px;
}
header img {
    float:left;
    margin-left: 2em;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(128,0,0)   
}
main{
    clear:left;
}
header h3{
    Margin-top: 3em;
    font-size: 105%;
    margin:1.5em 2em, 1.5em;
    border:5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px aqua;
    padding: 1em;
}
main nav{
    margin: 1.5em 2em 1.5em;
    border: 5px blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px aqua;
    padding: 0.5em;
}
main div.contact{
    margin: 1.5em 2em 0 2em;
    border: 5px dotted blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 1em;
}
#list{
    line-height:1.5em;
}
footer p{
    text-align: Center;
    font-size: 80%;
}