body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
}
a:hover, a:focus {
    font-style: italic;
    color:azure; 
}
header h1{
    font-size: 175%;
    color:aqua;
    text-indent: 30px;
}
header h1 {
    font-size: 130%;
    color:red;
    text-indent: 30px;
}
